XML/schema/AXUI_funcs.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="AXUI_funcs" elementFormDefault="qualified">

    <xs:element name="include">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required">
            <xs:attribute name="path" type="xs:string" use="required">
        </xs:complexType>
    </xs:element>
    
    <xs:element name="fun">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="requried">
            <xs:attribute name="description" type="xs:string">
            <xs:all>
                <xs:>
            </xs:all>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
